# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# FastF1 cache
cache/
fastf1_cache/

# Streamlit
.streamlit/secrets.toml

# Temporary files
*.tmp
*.log